body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    height: auto;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  /* Navigation bar */
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  